<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="game.game" android:versionName="19.0" android:installLocation="auto" android:versionCode="19">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="25" />
	<application android:label="Bas's Game" android:icon="@drawable/Icon"></application>
</manifest>